*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
-alias
.idea/dictionaries/
/app/src/main/res/values/server_connections.xml
/app/src/main/res/values/push_notifications.xml
/app/src/release/res/values/google_maps_api.xml
/app/google-services.json
app/app-release.apk
app/src/release/
app/src/debug/
